@import '../../globals';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .above-title {
    font-size: 2em;
    color: teal;
    text-transform: uppercase;
    padding: 10px 0px;
  }

  .title {
    font-size: 3em;

    &__kick {
      font-size: 6em;
    }
  }

  .body {
    font-size: 1.5em;
    margin-top: 20px;
  }

  .search-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    height: 75vh;

    .logo {
      width: 30vw;
      max-width: 10vw;
    }

    .search-box {
      width: 40vw;
    }

    .counter {
      &__wrapper {
        text-align: center;
      }
    }

    @media only screen and (max-width: 1024px) {
      .search-box {
        width: 80vw;
      }
    }
  }

  .countries-section {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 80vh;

    .countries-grid {
      display: grid;
      grid-template-columns: auto auto;
    }

    .grid-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        padding: 1%;
        font-size: larger;
      }

      &__subtitle {
        padding: 1%;
        text-align: center;
      }
    }

    @media only screen and (max-width: $size-medium) {
      .countries-grid {
        display: grid;
        grid-template-columns: auto;
      }
    }
  }

  .map-section-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .map-section {
      display: flex;
      justify-content: center;
      align-items: center;

      .wrapper-image {
        background-image: url("./images/map.svg");
      }

      .facts-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        height: 25vh;
        padding: 10px;
        align-items: flex-end;
      }

      .grid-item {
        padding: 5px;

        &__title {
          font-size: 3em;
        }

        &__text {
          font-size: 1em;
        }
      }


      @media only screen and (max-width: $size-medium) {
        .wrapper-image {
          width: 80vw;
        }

        .facts-grid {
          grid-template-columns: auto;
        }
      }
    }

    .report-link {
      text-align: right;
    }

  }

  .financial-reports-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2f6f7;
    height: 32vh;

    .container-wrapper {
      display: flex;
      width: 40vw;
    }

    .reports-text {
      width: 40vw;
    }

    .pie-container {
      height: 20vh;
      width: 20vw;
    }

    .report-link {
      text-align: right;
    }

    @media only screen and (max-width: $size-medium) {
      .container-wrapper {
        width: 80vw;
      }

      .pie-container {
        width: 30vw;
      }
    }
  }

  .why-choose-us-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    .wrapper {
      width: 40vw;
    }

    .reasons-grid {
      display: grid;
      grid-template-columns: auto auto;
    }

    .grid-item {
      padding: 10px;
      text-align: center;

      &__title {
        font-size: 1.5em;
        padding: 10px 0px;
      }

      &__text {
        font-size: 1em;
      }
    }

    .report-link {
      text-align: right;
    }

    @media only screen and (max-width: $size-medium) {
      .wrapper {
        width: 80vw;
      }
    }
  }

  .join-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 20vh;
    background-color: #e2f6f7;

    .main-grid {
      display: grid;
      grid-template-columns: auto;
    }

    .grid-item {
      padding: 5px;

      &__title {
        font-size: 3em;
        padding: 10%;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .title {
      font-size: 2em;

      &__kick {
        font-size: 4em;
      }
    }

    .countries-section {
      height: 120vh;
    }

    .why-choose-us-section {
      height: 60vh;
    }
  }
}
