@import '../../globals';

.how-it-works {
  .title {
    font-size: 3em;
    color: black;
  }

  .sub-title {
    font-size: 1.5em;
    margin-top: 20px;
    color: black
  }

  .plant-trees-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 60vh;

    text-align: center;
    color: white;
    background-image: url('./images/background.jpg');
    background-size: cover;

    .separator {
      padding: 10px;
    }
  }

  .brands-section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    height: 5vh;
    background-color: $grey-color;

    div {
      align-items: center;
      justify-content: center;
    }

    .image {
      max-height: 40px;
    }
  }

  .how_it_works_section {
    height: 30vh;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;

      text-align: center;
      padding: 50px;
    }

    .images {
      display: grid;
      grid-template-columns: auto auto auto;

      text-align: center;

      div {
        align-items: center;
        justify-content: center;
      }

      .image {
        max-width: 5vw;
      }

      @media only screen and (max-width: $size-medium) {
        .image {
          max-width: 10vw;
        }
      }
    }

    .text {
      margin: 0px 2vw;
    }

    @media only screen and (max-width: $size-medium) {
      .images {
        grid-template-columns: auto;
      }
    }
  }

  .graphics-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    height: 40vh;
    background-color: $grey-color;

    .title {
      font-size: 3em;
      text-align: center;
      width: 80vw;
    }

    .column {
      display: grid;
      grid-template-columns: auto auto auto auto auto;

      &__item {
        display: flex;
        align-items: center;
        flex-direction: column;

        // max-width: 15vw;
        text-align: center;
        padding: 1vw;

        .time {
          font-weight: bold;
          text-transform: uppercase;
          color: grey;
          font-size: 1em;
          padding: 5px;
        }

        .subtitle {
          font-size: 2em;
          padding: 5px;
        }

        .line {
          border: 3px solid #AAB74F;
          width: 75%;
        }
      }
    }

    @media only screen and (max-width: $size-medium) {
      .column {
        grid-template-columns: auto;


        &__item {
          max-width: 40vw;
          padding: 3vh;

          .time {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .reports-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    height: 40vh;

    .separator {
      padding: 5px;
    }

    .view-reports-btn {
      text-transform: uppercase;
    }
  }

  @media only screen and (max-width: $size-medium) {

    .title {
      font-size: 2em;
    }

    sub-title {
      font-size: 1em;
    }

    .graphics-section {
      height: 100vh;
    }

    .brands-section {
      grid-template-columns: auto;
      height: 20vh;
    }

    .how_it_works_section {
      height: 50vh;
    }
  }
}
