.mobile {
    .ecosia-for-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;
        background-image: url('https://infopages-prod-cdn.ecosia.org/assets/images/mobile/mobile_hero@1x-887294d71c.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        .title {
            font-size: 4em;
            padding-bottom: 5vh;
        }

        .separator {
            padding: 5px;
        }

        .logo {
            width: 5vw;
        }

        .subtitle {
            font-size: 2em;
            padding-bottom: 5vh;
            width: 20vw;
        }
    }
}
