@import '../../globals';

.we-protect-privacy-section {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url('./components/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

  color: white;
  text-align: center;

  .title {
    font-size: 3em;
    padding-bottom: 5vh;
  }

  .subtitle {
    font-size: 2em;
    padding-bottom: 5vh;
  }
}

.statements-section {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;

  height: 100vh;

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;

    div {
      text-align: left;
      padding: 20px;
      vertical-align: middle;
    }
  }

  .title {
    font-size: 1.5em;

    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 1vh;
  }

  .content {
    width: 20vw;
    font-size: 1.5em;
  }

  @media only screen and (max-width: $size-medium) {
    .grid-container {
      grid-template-columns: auto;
    }

    .content {
      width: 80vw;
    }
  }
}

@media only screen and (max-width: $size-medium) {
  .statements-section {
    height: 200vh;
  }
}
